//  Base styles
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  position: relative;
}

a {
  color: $link-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

.icon {
  display: inline-block;
}

