// All elements Form
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  background-color: #fff;

}

.main__form{
  border: 2px solid #781241;
  min-height: 500px;
  max-width: 488px;
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item{
  height: 53px;
  position: relative;
}

.name, .email, .subject{
  position: absolute;
  bottom: 0;

}

#name, #subject, #email{
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  border: transparent;
  border-bottom: 1px solid $border-third-color;


}

.message-wrap{
  height: 153px;
  position: relative;
}
.message{
  position: absolute;
  top: 21px;
}
#message{
  height: 130px;
  position: absolute;
  bottom: 0;
  border: transparent;
  border-bottom: 1px solid $border-third-color;

}


#name:focus ~ .name, #name:valid ~ .name {
  top: 0;
  font-size:$fifth-font-size;
  color:$fifth-color;
  font-family: $font-family;
  border-bottom: 1px solid $border-fourth-color;
  width: 100%;
}

#email:focus ~ .email, #email:valid ~ .email {
  top: 0;
  font-size:$fifth-font-size;
  color:$fifth-color;
  font-family: $font-family;
  border-bottom: 1px solid $border-fourth-color;
  width: 100%;

}

#email:invalid:not(:focus):not(:placeholder-shown) {
  background: #ff857b;
  & + .email {
    font-size:$fifth-font-size;
    color:$fifth-color;
    font-family: $font-family;
    top: 0;
  }}

#subject:focus ~ .subject, #subject:valid ~ .subject {
  top: 0;
  font-size:$fifth-font-size;
  color:$fifth-color;
  font-family: $font-family;
  border-bottom: 1px solid $border-fourth-color;
  width: 100%;
}

#message:focus ~ .message, #message:valid ~ .message {
  top: 0;
  font-size:$fifth-font-size;
  color:$fifth-color;
  font-family: $font-family;
  border-color: $border-fourth-color;
  width: 100%;
}


