.social{
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__twitter{
    height: 25px;
    width: 25px;
    color: $social-main;
    transition: 0.3s;

    &:hover{
      color: $social-hover;
    }
  }

  &__instagram{
    height: 25px;
    width: 25px;
    color: $social-main;
    transition: 0.3s;

    &:hover{
      color: $social-hover;
    }
  }

  &__facebook{
    height: 25px;
    width: 25px;
    color: $social-main;
    transition: 0.3s;

    &:hover{
      color: $social-hover;
    }
  }

}
