.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 115px 0;
  max-width: $container-s-width;
  width: 100%;

  &__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 756px;
    padding-bottom: 100px;
  }

  &__map{
    position: relative;
    max-width: 1140px;
    width: 100%;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__marker{
    position: absolute;
    font-size: $font-size;
    color: $third-color;
    top: 0;
    left: 0;

  }

}

.fa-map-marker-alt{
  font-size: $font-size;
  color: $third-color;

}

