.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: $container-s-width;


  &__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 756px;
    padding-bottom: 100px;
  }

  &__map{
    position: relative;
    width: 100%;
    margin: 100px 0 115px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;
    }
  &__marker{
    position: absolute;
    font-size: $font-size;
    color: $third-color;
    bottom: 257px;
    right: 530px;

  }
  &#map{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1140px;
    width: 100%;
    height: 430px;
  }

  &__hours{
    height: 150px;
    width: 250px;
    border: 2px solid $third-color;
    position: absolute;
    right: 270px;
    bottom: 307px;
    background-color: $fourth-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 31px;

  }

  .day_hours{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

}

.fa-map-marker-alt{
  font-size: $font-size;
  color: $third-color;

}

