.header {
  width: 100%;
  max-width: $container-width;
  position: absolute;
  top: 40px;

  .nav{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $second-font;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 500px;
    width: 100%;
    transition: 3s ease;

    &__item{
      padding: 2px;
      border-bottom: 2px solid transparent;
      transition: 0.3s;
      &:hover{
        border-bottom: 2px solid $link-color;
      }
    }

  }

}






